<% if notice %>
  <div class="alert alert-success" role="alert" id="notice">
    <%= notice %>
  </div>
<% end %>

<h1>Companies</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Start date</th>
        <th>Country</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= company.description %></td>
          <td><%= company.start_date %></td>
          <td><%= company.country %></td>
          <td>
            <%= link_to 'Show', company, class: 'btn btn-primary btn-sm' %>
            <%= link_to 'Edit', edit_company_path(company), class: 'btn btn-success btn-sm' %>
            <%= link_to 'Destroy', company, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New Company', new_company_path %>
